<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <button onclick="window.location.href='/completed/{{ user.username }}';"> My Completed </button>
    <button onclick="window.location.href='/assigned/{{ user }}';"> My Assigned </button>
    <title>Home</title>
  </head>
  <body>
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-8">
          <h1 class="mt-2">Tickets</h1>
          <hr class="border border-dark mt-0 mb-4">
          {% block content %}
            {% if user.is_authenticated %}
            {% for ticket in data %}
            <ul class="border border-dark rounded">
            <h2 style="background-color: lavenderblush"> Username: {{ ticket.title}}</h1>
                <p> {{ ticket.created_date }} </p>
            <p> Description: {{ ticket.description }}</p>
            <p> Ticket Status: {{ ticket.ticket_status }}</p>
            <button onclick="window.location.href='/ticketedit/{{ ticket.pk }}';"> Edit</button>
            <button onclick="window.location.href='/complete/{{ ticket.pk }}';"> Comeplete </button>
            <button onclick="window.location.href='/details/{{ ticket.pk }}';"> View Details </button>
            </ul>
            <p></p>
            <p></p>
            {% endfor %}
            {% endif %} 
           {% endblock %}
        </div>
      </div>
    </div>
  </body>
</html>